# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
README.md

vite.config.js
public
src/*
!src/App.jsx
!src/main.jsx

src-tauri/*
!src-tauri/src
!src-tauri/Cargo.toml
!src-tauri/tauri.conf.json
